@model List<Product>

@{
    ViewData["Title"] = "Product List";
}

<h2>Products</h2>
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
              <div style="width: 150px; height: 150px; overflow: hidden; display: flex; justify-content: center; align-items: center;">
                  <img src="@product.ImageUrl" style="max-width: 100%; max-height: 100%; object-fit: contain;" alt="@product.Name">
              </div>

                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">Price: ₹@product.Price</p>
                    <form asp-controller="Cart" asp-action="AddToCart" method="post">
                        <input type="hidden" name="id" value="@product.Id" />
                        <input type="hidden" name="name" value="@product.Name" />
                        <input type="hidden" name="price" value="@product.Price" />
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
